.header-cart {
    max-height: 250px;
    background: url("../png/cart.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-cart {
    font-size: 3.4rem;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 3rem;
}